body{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
*{
	font-family: 微軟正黑體;
}
img{
	margin: 3px;
}
.web_icon{
	border: 1px solid black;
}
.banner{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
}
.login{
	border: 1px solid none;
	border-radius: 5px;
	float: right;
	width: 60px;
	height: 30px;
	margin: 10px;
	background-color: #0095FF;
	cursor: pointer;

	//文字設定
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
}

.question_title{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top: 5px;
}
.question{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: 100px;
	margin-top: 5px;
}
#comment_area{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
	/*overflow: hidden;*/
}
.comment_icon{
	border: 1px solid black;
}
.comment{
	width: 100%;
	border: 1px solid black;
	display: inline-block;
	/*margin: 10px 5px;*/
}
#user_post_area{
	border: 1px solid black;
	display: inline-block;
	width: 100%;
	height: 100px;
}